#test {
   -fx-background-image: url("bgWithoutLogo.png");
    -fx-background-size: 640 480;
    
}
.table-row-cell{

     -fx-font-size: 18;

}
.list-cell{
    -fx-font-size:18.0;
    -fx-background-color: white;
}
.list-cell:selected {
    -fx-background-color: -fx-selection-bar;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
}
.connectPT{
	
	 -fx-background-image: url("Button.png");

}